Assitant AI Agent.json
{
  "name": "Assitant AI Agent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are a helpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -256,
        -112
      ],
      "id": "0f3b843d-5cda-44fb-a23e-1c577ab5f549",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -192,
        144
      ],
      "id": "ec8fa95f-34d8-4560-889b-20c87531a622",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -576,
        -128
      ],
      "id": "d3dd5092-7843-40cb-a5b7-4dcab3c7529e",
      "name": "Telegram Trigger",
      "webhookId": "db7c9929-e0cb-42c2-9eae-442e0f08f54f",
      "credentials": {
        "telegramApi": {
          "id": "7a3N8HvYU2Wvy6mb",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-maverick:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -384,
        144
      ],
      "id": "93873151-eb8d-4a0d-8320-2a83052ad84e",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "Fp76UKJB4G8UELf0",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1MD3FikqVJAhe6G4e4CZk6DFW9oE9n0NiGFSXAhaqyjA",
          "mode": "list",
          "cachedResultName": "Invoice DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MD3FikqVJAhe6G4e4CZk6DFW9oE9n0NiGFSXAhaqyjA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Feuille 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MD3FikqVJAhe6G4e4CZk6DFW9oE9n0NiGFSXAhaqyjA/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -48,
        128
      ],
      "id": "3d14e972-ee72-466d-973c-9284aed19166",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RzEqjqBtivZprKzM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        96,
        -112
      ],
      "id": "d5928379-4411-4d93-96e3-aaf4618b39f2",
      "name": "Send a text message",
      "webhookId": "4acd6b42-6f57-48b1-a732-b6aa96b75970",
      "credentials": {
        "telegramApi": {
          "id": "7a3N8HvYU2Wvy6mb",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "754e528d-8082-4d1f-b1cb-3189349ea8c3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "58b9bae21ac9faf5bc46c7212eb397176823ae4b902c568abd0c2b680e807efd"
  },
  "id": "vA84lcCvmn9S7iIN",
  "tags": []
}